<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="Content-Security-Policy" content="script-src 'self' 'unsafe-inline';" />
    
        <link rel="stylesheet" href="../../static/style.css">
        <link rel="stylesheet" href="../../../node_modules/bootstrap/dist/css/bootstrap.min.css"> 
    </head>
    <body class="cheat-sheet">
        <div class="container p-2">

            <div class="row">
                <div class="col-12 p-4">
                    <h1 class="text-center" id="goalTwo"></h1>
                </div>
            </div>

            <div class="row m-1">
                <button class="btn btn-warning" onclick="window.print()">Download PDF</button>
            </div>

            <div class="row">
                <div class="col-12">
                    <h3>When I will do my new habit:</h3>
                    <p>I will <span id="cueTwo"></span></p>
                    <p>After I <span id="cueTwo"></span> I will <span id="responseOne"></span></p>
                    <p>After <span id="responseOne"></span> I will <span id="cravingTwo"></span></p>
                </div>
            </div>

            <div class="row">
                <div class="col-12">
                    <h3>Benefits of new habit:</h3>
                    <ul>
                        <li id="cravingOneA">(benefitOne)</li id="">
                        <li id="cravingOneB">(benefitTwo)</li>
                        <li id="cravingOneC">(benefitThree)</li>
                    </ul>
                </div>
            </div>
            <div class="row">
                <div class="col-12">
                    <h3>The first two minutes:</h3>
                    <table class="table table-bordered">
                        <thead>
                            <tr>
                                <th>Very Easy</th>
                                <th>Easy</th>
                                <th>Normal</th>
                                <th>Difficult</th>
                                <th>Very Difficult</th>
                            </tr>
                        </thead>
                        <tr>
                            <td id="vEasy"></td>
                            <td id="easy"></td>
                            <td id="normal"></td>
                            <td id="difficult"></td>
                            <td id="vDifficult"></td>
                        </tr>
                    </table>
                </div>
            </div>

            <div class="row">
                <div class="col-12">
                    <h3>What I will track:</h3>
                    <p id="rewardOne">(track)</p>
                    <h3>How I will track:</h3>
                    <p id="rewardTwo">(tracker)</p>
                </div>
            </div>

            <!-- jquery -->
            <script>window.$ = require("../../static/jquery-3.4.1.js");</script>

            <!-- async request-->
            <script src="../../static/js/page-template.js"></script>
            <script>
                const theTemplate = new template();
                const urlParams = new URLSearchParams(window.location.search);
                
                let goalTwo = urlParams.get("goalTwo");
                let table = urlParams.get("table");

                theTemplate.getCheatSheetData(table, goalTwo);

            </script>
        </div>        
    </body>
</html>