<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="Content-Security-Policy" content="script-src 'self' 'unsafe-inline';" />
    
        <link rel="stylesheet" href="../../static/style.css">
        <link rel="stylesheet" href="../../../node_modules/bootstrap/dist/css/bootstrap.min.css"> 
    </head>
    <body class="cheat-sheet">
        <div class="container p-2">

            <div class="row">
                <div class="col-12 p-4">
                    <h1 class="text-center" id="goalTwo"></h1>
                    <h6 id="responseOne" style="text-transform: capitalize; text-align: center;"></h6>
                </div>
            </div>

            <div class="row m-1">
                <button class="screen-only btn btn-warning" onclick="window.print()">Download PDF</button>
            </div>

            <div class="row">
                <div class="col-12">
                    <h3>Cue</h3>
                    <h6>What starts my old habit is:</h6>
                    <p id="cueTwo"></p>
                    <h6>The way I will make my old habit invisible is:</h6>
                    <p id="cueOne"></p>
                </div>
            </div>

            <div class="row">
                <div class="col-12">
                    <h3>Craving</h3>
                    <h6>Negatives of my old habit:</h6>
                    <ul>
                        <li id="cravingOneA"></li>
                        <li id="cravingOneB"></li>
                        <li id="cravingOneC"></li>
                    </ul>
                    <h6>What I will do if I do my old habit:</h6>
                    <p id="cravingTwo"></p>
                </div>
            </div>
            <div class="row">
                <div class="col-12">
                    <h3>Response</h3>
                    <h6>The first two minutes:</h6>
                    <table class="table table-bordered">
                        <thead>
                            <tr>
                                <th>Very Easy</th>
                                <th>Easy</th>
                                <th>Normal</th>
                                <th>Difficult</th>
                                <th>Very Difficult</th>
                            </tr>
                        </thead>
                        <tr>
                            <td id="vEasy"></td>
                            <td id="easy"></td>
                            <td id="normal"></td>
                            <td id="difficult"></td>
                            <td id="vDifficult"></td>
                        </tr>
                    </table>
                </div>
            </div>

            <div class="row">
                <div class="col-12">
                    <h3>Reward</h3>
                    <h6>What I will track:</h6>
                    <p id="rewardOne">(track)</p>
                    <h6>How I will track:</h6>
                    <p id="rewardTwo">(tracker)</p>
                </div>
            </div>

            <!-- jquery -->
            <script>window.$ = require("../../static/jquery-3.4.1.js");</script>

            <!-- async request-->
            <script src="../../static/js/page-template.js"></script>
            <script>
                const theTemplate = new template();
                const urlParams = new URLSearchParams(window.location.search);
                
                let goalTwo = urlParams.get("goalTwo");
                let table = urlParams.get("table");

                theTemplate.getCheatSheetData(table, goalTwo);

            </script>
        </div>        
    </body>
</html>