*{
    font-family: 'Ubuntu', sans-serif;
}

/* navbar */ 
#nav{
    position: fixed;
    top: 0;
    width: 100%;
    color: white;
}

.white{
    color:white;
}

.navy-bg{
    background-color: #0C0253;
}

.white a{
    color: white;
}

.orange-hover a:hover{
    color: white;
    text-decoration: underline;
    text-decoration-color: orange ;
}

.font-20 a{
    font-size: 20px;
}

.negative-m-10{
    margin-left:-100px;
}

.current-page{
    text-decoration: underline;
    text-decoration-color: orange;
    
}

/* footer*/

.footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    color: white;
    font-size: 20px;
}

.footer a{
    color:white;
    text-decoration: none;
}

.footer a:hover{
    text-decoration: underline;
    text-decoration-color: orange;
    color:white;
}
/*About Page*/

.background{
    background-color: #f5f5f5;
}

.about{
    overflow-y: scroll;
    overflow-x: hidden;
    bottom: 75px;
    top: 75px;
}

.about-content{
    display: block;
    text-align: center;
    font-weight: bold;
}

.about img{
    height:250px;
    width:175px;
    margin:15px 0px;
}

/* Create page*/

.create{
    bottom: 75px;
    top: 75px;
    left:20px;
    font-size: large;
    width:100px;

}

.tab-panel{
    display: none;
}

.tab-panel.active{
    display: block;
}

.list-group-item.active{
    background-color: orange !important;
    border-color: orange !important;
}

 .list-group-item a{
     color:black;
     text-decoration: none;
 }

 .list-group-item.active a{
     color:black;
 }

.list-group-item a:hover{
    text-decoration: none;
    color:black;
}

/*cheat sheet*/
.cheat-sheet{
    background-color:white ;
}

.cheat-sheet h3{
    background:#f4f4f4;
    border-top:1px solid rgba(0,0,0,.1);
    border-bottom:1px solid rgba(0,0,0,.1);
    margin-top: 10px;
}

.cheat-sheet button{
    color:white;
}

@media print{
    .screen-only{
        display:none !important;
    }
}

/*Habit-saved */

.saved-content{
    bottom: 75px;
    top: 200px;
}

.saved-animation{
    color:orange;
    background-color: #0C0253;
    border-radius: 5px;
    padding:10px;
    animation-name:example;
    animation-duration: 5s;
    animation-iteration-count: infinite;
}

@keyframes example{
    50%{color:greenyellow;}
    100%{color:orange;}
}

/*habit-list*/
.habit-list-page{
    bottom: 75px;
    top: 75px;
}

#listOfHabits label{
    margin-top: 10px;
}

#listOfHabits{
    border: 1px solid #0C0253;
    border-left: 1px solid #0C0253;
    box-shadow: -5px 5px #BFD2FF;
    overflow-y: scroll;
    height: 250px;
}

.habit-list {
    display: block;
    position: relative;
    padding-left: 35px;
    margin-bottom: 12px;
    cursor: pointer;
    font-size: 22px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.habit-list input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
    height: 0;
    width: 0;
}
  
.checkmark {
    position: absolute;
    top: 5px;
    left: 0;
    height: 20px;
    width: 20px;
    background-color: #CFE4FF;
    border-radius: 50%;
}
  
.habit-list:hover input ~ .checkmark {
    background-color: #FFDFB1;
}
  
.habit-list input:checked ~ .checkmark {
    background-color: orange;
}
  
.checkmark:after {
    content: "";
    position: absolute;
    display: none;
}
  
.habit-list input:checked ~ .checkmark:after {
    display: block;
}
  
.habit-list .checkmark:after {
    top: 8px;
    left: 7px;
    width: 6px;
    height: 6px;
    border-radius: 50%;
    background: white;
}  

.preview-and-download{
    position: absolute;
    bottom:50px;
    left:300px
}

#preview-link{
    text-decoration: none;
    color:black;
}
