*{
    font-family: 'Ubuntu', sans-serif;
}

/* navbar */ 
#nav{
    position: fixed;
    top: 0;
    width: 100%;
    color: white;
}

.white{
    color:white;
}

.navy-bg{
    background-color: #0C0253;
}

.white a{
    color: white;
}

.orange-hover a:hover{
    color: white;
    text-decoration: underline;
    text-decoration-color: orange ;
}

.font-20 a{
    font-size: 20px;
}

.negative-m-10{
    margin-left:-100px;
}

.current-page{
    text-decoration: underline;
    text-decoration-color: orange;
    
}

/* footer*/

.footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    color: white;
    font-size: 20px;
}

.footer a{
    color:white;
    text-decoration: none;
}

.footer a:hover{
    text-decoration: underline;
    text-decoration-color: orange;
    color:white;
}
/*About Page*/

.background{
    background-color: #f5f5f5;
}

.about{
    overflow-y: scroll;
    overflow-x: hidden;
    bottom: 75px;
    top: 75px;
}

.about-content{
    display: block;
    text-align: center;
    font-weight: bold;
}

.about img{
    height:250px;
    width:175px;
    margin:15px 0px;
}

/* Create page*/

.create{
    bottom: 75px;
    top: 75px;
    left:20px;
    font-size: large;
    width:100px;

}

.tab-panel{
    display: none;
}

.tab-panel.active{
    display: block;
}

.list-group-item.active{
    background-color: orange !important;
    border-color: orange !important;
}

 .list-group-item a{
     color:black;
     text-decoration: none;
 }

 .list-group-item.active a{
     color:black;
 }

.list-group-item a:hover{
    text-decoration: none;
    color:black;
}

/*cheat sheet*/
.when ,.tracker, .benefits, .two-minutes{
    background-color: white;
    border-radius: 10px;
    margin: 50px 0px;
    padding:10px;
}

.cheat-sheet{
    background-color:#e3eaea ;
}
