/* navbar */ 
#nav{
    position: fixed;
    top: 0;
    width: 100%;
    color: white;
}

.white{
    color:white;
}

.navy-bg{
    background-color: #0C0253;
}

.white a{
    color: white;
}

.orange-hover a:hover{
    color: white;
    text-decoration: underline;
    text-decoration-color: orange ;
}

.font-20 a{
    font-size: 20px;
}

.negative-m-10{
    margin-left:-100px;
}

.current-page{
    text-decoration: underline;
    text-decoration-color: orange;
}

/* footer*/

.footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    color: white;
    font-size: 20px;
  }

/*About Page*/

.turquoise-bg{
    background-color: #f5f5f5;
}

.about{
    overflow: scroll;
}

.about img{
    height:350px;
    width:250px;
}