<div class="container-fluid about position-absolute">
    <div class="row">
      <div class="col-12 about-content">
        <p>This is an Unofficial Habits app based off the best selling book "Atomic Habits"</p>
        <p>If you don't have it I recommend clicking the image below,to first get the book
        as I don't explain any of the concepts used in this app.</p>
      <a href="https://www.amazon.co.uk/Atomic-Habits-Proven-Build-Break/dp/1847941834/ref=sr_1_1?keywords=atomic+habits&qid=1578138979&sr=8-1" target="_blank">
        <img src="../images/atomichabits.jpg" alt="Atomic Habits Book Cover">
      </a>
      <p>Already have or read the book ? Keep reading...</p>
      <p> You'll want to go straight to "Create a Habit" or "Break a Habit",fill out the questionaire, 
      Then you're new habit will appear in the "Habit List".</p>
      <p>You'll then have a habit sheet, with the option to print it out, make changes or review the Habit on the App. </p>
    </div>
</div>