<!DOCTYPE html>
<html>
  <head>

    <meta charset="UTF-8">
    <meta http-equiv="Content-Security-Policy" content="script-src 'self' 'unsafe-inline';" />
    
    <title>Habits</title>
    <!--Font-->
    <link href="https://fonts.googleapis.com/css?family=Ubuntu&display=swap" rel="stylesheet">
    <!--Style Sheet-->
    <link rel="stylesheet" href="../static/style.css">
    <!-- Bootstrap -->
    <link rel="stylesheet" href="../node_modules/bootstrap/dist/css/bootstrap.min.css"> 
  </head>

  <body class="background">
    <div id="nav"></div>

    <div id="currentPage"></div>    

    <div id="footer"></div>

    <!-- JQuery -->
    <script>      
      window.$ = require("./jquery-1.10.2.min.js");
    </script>

    <!-- nav, currentPage and footer -->
    <script src="helpers.js"></script>
    <script>
      let theTemplate = new template("./create.html");
      theTemplate.loadTemplate("create");
    </script>

  </body>
</html>