<!-- Multiple forms -->


        <div class="col-3 ">
            <ul class="nav nav-tabs flex-column">
                <li class="nav-item">
                    <a href="" class="nav-link active">Goal</a>
                </li>
                <li class="nav-item">
                    <a href="" class="nav-link">Response</a>
                </li>
                <li class="nav-item">
                    <a href="" class="nav-link">Reward</a>
                </li>
                <li class="nav-item">
                    <a href="" class="nav-link">Cue</a>
                </li>
                <li class="nav-item">
                    <a href="" class="nav-link">Craving</a>
                </li>
                <li class="nav-item">
                    <a href="" class="nav-link">Create Habit</a>
                </li>
            </ul>
        </div>

    <div class="col-8" id="create-form">

    </div>

    </div>
</div>
