<div class="container create position-absolute">
    <div class="row">

        <div class="col-3">
            <ul class="list-group headings tab-list">
                <li class="list-group-item active"><a href="#tab-goal" class="tab-control">Goal</a></li>
                <li class="list-group-item"><a href="#tab-response" class="tab-control">Response</a></li>
                <li class="list-group-item"><a href="#tab-reward" class="tab-control">Reward</a></li>
                <li class="list-group-item"><a href="#tab-cue" class="tab-control">Cue</a></li> 
                <li class="list-group-item"><a href="#tab-craving" class="tab-control">Craving</a></li>
                <li class="list-group-item"><a href="#tab-save" class="tab-control">Save Habit</a></li>
            </ul>
        </div>

        <div class="col-9">
            <form onsubmit="theTemplate.submitForm('createForm')" id="createForm" action="./habit-saved.html" class="tab-content" method="POST">

                <div id="tab-goal"  class="active form-group tab-panel">
                    <h1>Goal</h1>
                    <label>What is your desired outcome?</label>
                    <input name="goalOne" type="text" class="form-control" placeholder="Save money, lose weight, work harder...">
                    <label>What type of person achieves that outcome?</label>
                    <input name="goalTwo" type="text" class="form-control" placeholder="An investor,a gym rat, a hard worker..." >
                </div>

                <div id="tab-response" class="form-group tab-panel">
                    <h1>Response</h1>
                    <label>What habit does this type of person have?</label>
                    <input name="responseOne" type="text" class="form-control" placeholder="Works out...">
                    <p>List what you could do for the first 2 minutes of this new habit, from very easy to very difficult.</p>
                    <table name="responseTwo" class="table-sm"> 
                        <tr>
                            <th>Very Easy</th>
                            <td><input name="vEasy" class="form-control" type="text" placeholder="put on gym clothes"></td>
                        </tr>
                        <tr>
                            <th>Easy</th>
                            <td><input name="easy" class="form-control" type="text" placeholder="Go for a walk"></td>
                        </tr>
                        <tr>
                            <th>Normal</th>
                            <td><input name="normal" class="form-control" type="text" placeholder="Go for a run"></td>
                        </tr>
                        <tr>
                            <th>Difficult</th>
                            <td><input name="difficult" class="form-control" type="text" placeholder="Drive to the gym"></td>
                        </tr>
                        <tr>
                            <th>Very Difficult</th>
                            <td><input name="vDifficult" class="form-control" type="text" placeholder="Run to the gym"></td>
                        </tr>
                    </table>
                </div>

                <div id="tab-reward" class="tab-panel">
                    <h1>Reward</h1>
                    <label>What can you keep track of to measure your progress?</label>
                    <input name="rewardOne" type="text" placeholder="Amount of work out sessions..." class="form-control">
                    <label>What will you use to track your progress?</label>
                    <input name="rewardTwo" type="text" placeholder="Fitness app..." class="form-control">
                </div>

                <div id="tab-cue" class="tab-panel">
                    <h1>Cue</h1>
                    <label>How can you design your enviroment to make it obivous to do your new habit?</label>
                    <input name="cueOne" type="text" placeholder="Plan out my gym days..." class="form-control">
                    <label>Which established habit will you do before your new habit?</label>
                    <input name="cueTwo" type="text" placeholder="Work..." class="form-control">
                </div>

                <div id="tab-craving" class="tab-panel">
                    <h1>Craving</h1>
                    <label>What are the benefits of your new habit?</label>
                    <input name="cravingOneA" type="text" placeholder="I get to live longer..." class="form-control">
                    <input name="cravingOneB" type="text" placeholder="I'll have more energy..." class="form-control mt-1 mb-1">
                    <input name="cravingOneC" type="text" placeholder="I'll be able to fit into slimmer clothes..." class="form-control">
                    <label>What habit you want to do, will you do after your new habit?</label>
                    <input name="cravingTwo" type="text" placeholder="Eat chocolate rice cakes..." class="form-control">
                </div>

                <div id="tab-save" class="tab-panel">
                    <h1>Save Habit</h1>
                    <label for="">Save your habit to your habit list</label>
                    <br>
                    <button name="button" value="commit" type="submit" class="btn btn-warning">Save Habit</button>
                </div>

            </form>
        </div>
    </div>    
</div>
