<!-- navbar back color adadad -->
<nav>
    <div class="row navbar navy-bg">
        <div class="white col-2">
            <img src="../images/habitsicon.png" alt="Habits Icon">
        </div>
        <div class="col-8  white orange-hover font-20 negative-m-10">
                <a href="" class="p-3" id="list" >About</a>
                <a href="" id="create">Habit List</a>
                <a href="" class="p-3" id="destroy">Create a Habit</a>
                <a href="" id="about">Destroy a Habit</a>
        </div>
    </div>
</nav>