<nav>
    <div class="row navbar navy-bg">

        <div class="white col-2">
            <img src="../images/habitsicon.png" alt="Habits Icon">
        </div>

        <div class="col-8  white orange-hover font-20 negative-m-10">
                <a href="index.html" class="p-3" id="about" >About</a>
                <a href="habits-list-page.html" id="list">Habit List</a>
                <a href="./create-page.html" class="p-3" id="create">Create a Habit</a>
                <a href="" id="break">Break a Habit</a>
        </div>
        
    </div>
</nav>